.compact-select {
  width: auto;
  min-width: 75px;
}
.page-span {
  margin-left: 2rem;
}
.center-span {
  line-height: 2.3rem;
}
.page-item.active .page-link {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}
